@import "tailwindcss";
@tailwind utilities;

@layer utilities {
  .form-input {
    @apply w-full px-4 py-4 border-2 border-gray-200 rounded-lg text-base transition-colors duration-300 focus:outline-none focus:border-[#004F71] placeholder:text-sm placeholder:text-gray-400;
  }

  button {
    @apply cursor-pointer;
  }

  .dropdownBtn {
    @apply w-full p-4 text-sm text-[#004F71] font-semibold hover:bg-gray-50 flex items-center gap-2;
  }
}

.settings-label {
  @apply block text-sm font-medium text-[#333333] mb-2;
}
@media (prefers-color-scheme: dark) {
}

/* For Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Important to remove any lingering margin */
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
